/database
/vendor
/node_modules
/web/wp
/web/wp-content/*
!/web/wp-content/themes/
/web/wp-content/themes/*
!/web/wp-content/themes/knock-knock/
!/web/wp-content/mu-plugins/
.DS_Store

.env
.env.local.php