.table {
  color: var(--body-color);

  td {
    border-color: var(--border-color);
  }

  tbody td {
    cursor: pointer;
    vertical-align: middle;
  }
}

tbody tr:last-child {
  td {
    border-bottom-width: 0;
  }
}

.table-hover {
  tr:hover td {
    color: var(--body-color-darker);
  }
}
