.form-control {
  background-color: var(--card-bg);
  border: 1px solid var(--border-color);
  color: var(--body-color);

  &:focus {
    background-color: var(--card-bg);
    color: var(--body-color);
  }
}

.theme-select {
  .form-check-input {    
    margin-right: 0.5em;
    
    ~ .form-check-label {
      border: 1px solid var(--border-color);
      border-radius: $border-radius;
      color: var(--border-color);
      padding: 0.5rem 0.75rem;
    }

    &:checked ~ .form-check-label {
      border: 1px solid var(--body-color);
      color: var(--body-color);
    }
  }

  .form-check-label {
    padding: 0 0.5rem;
  }
}
