.icon {
  $size: 2rem;

  border-radius: 50%;
  color: $white;
  flex-shrink: 0;
  height: $size;
  width: $size;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-purple {
  background-color: $purple;
}

ul {
  margin-bottom: 0;

  li:last-child {
    border-bottom: 0 !important;
  }
}

.date {
  width: 33px;
}

