.icon {
  $size: 2.5rem;

  border-radius: 50%;
  color: $white;
  flex-shrink: 0;
  height: $size;
  width: $size;

  &.calendar {
    background-color: $yellow;
  }

  &.document {
    background-color: $purple;
  }
}

ul {
  margin-bottom: 0;

  li:last-child {
    border-bottom: 0 !important;
  }
}
