
body, html {
    background-color: #F3F4F8
}

body > .container {
    margin-top: $grid-gutter-width / 2;

    @include media-breakpoint-up(sm) {
        margin-top: 1.5rem;
    }
}

img.thumbnail {
    width: 3rem;
    height: 3rem;
    border-radius: $border-radius;
}