body,
html {
  background-color: var(--body-bg);
  color: var(--body-color);

  @include media-breakpoint-down(sm) {
    @include font-size($font-size-sm);
  }
}

body > .container-lg {
  margin-top: $grid-gutter-width / 2;

  @include media-breakpoint-up(lg) {
    margin-top: 1.5rem;
  }
}

.thumbnail {
  border-radius: $border-radius;
  height: 3rem;
  width: 3rem;
}

.profile-picture {
  background-position: center;
  background-size: cover;
  border-radius: $border-radius;
  display: block;
  padding-bottom: 100%;
  width: 100%;
}

.title {
  margin-bottom: 0;
}

hr {
  border-top: 1px solid var(--border-color);
}

.border-bottom {
  border-bottom: 1px solid var(--border-color) !important;
}

.btn-primary {
  background-color: var(--primary-bg);
  border-color: var(--primary-bg);
}
