.navbar {
  @include media-breakpoint-down(md) {
    padding: 0;
  }
}

.navbar-toggler {
  background: darken($primary, 5%);
  border: 0;

  @include media-breakpoint-down(md) {
    margin: 0 $spacer;
  }
}

.navbar-nav {
  .nav-link.dropdown-toggle:focus {
    outline: 0;
  }

  .dropdown-menu {
    @include media-breakpoint-down(md) {
      position: absolute;
    }
  }
}

.navbar-dark {
  background-color: var(--primary-bg);

  .menu-item {
    /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
    @extend .nav-item;

    a {
      /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
      @extend .nav-link;
      font-size: $font-size-base;
      padding: 0.5rem $spacer;

      @include media-breakpoint-up(lg) {
        padding: 1rem;
      }
    }

    &.current-menu-item {
      background: darken($primary, 5%);
    }
  }

  .user {
    $size: 2.5rem;

    border: 2px $white solid;
    border-radius: 50%;
    height: $size;
    margin-left: 0.25rem;
    width: $size;
  }
}

.navbar-brand {
  @include media-breakpoint-down(md) {
    margin: 0 $spacer;
  }

  svg {
    height: $navbar-brand-height;
    width: $navbar-brand-height * $kv-logo-ratio;
  }
}

.navbar-expand-lg > .container {
  padding-left: 0;
  padding-right: 0;

  @include media-breakpoint-up(sm) {
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
  }
}
