@use 'sass:math';

.navbar-brand {
  @include media-breakpoint-down(lg) {
    margin-left: var(--bs-gutter-x, 0.75rem);
  }

  svg {
    height: $navbar-brand-height;
    width: $navbar-brand-height * $kv-logo-ratio;
  }
}

.hamburger {  
  @include media-breakpoint-down(lg) {
    margin-right: var(--bs-gutter-x, 0.75rem);
  }
}

.navbar-nav {
  .nav-link.dropdown-toggle:focus {
    outline: 0;
  }

  .dropdown-menu {
    @include media-breakpoint-down(lg) {
      position: absolute;
    }
  }
}

.navbar-dark {
  background-color: var(--primary-bg);

  .menu-item {
    /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
    @extend .nav-item;

    a {
      /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
      @extend .nav-link;
      font-size: $font-size-base;
      padding: 0.75rem $grid-gutter-width * 0.5;

      @include media-breakpoint-up(lg) {
        padding: 1rem;
      }
    }

    &.current-menu-item {
      background: darken($primary, 5%);
    }
  }

  > .container-lg {
    @include media-breakpoint-down(lg) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .user {
    $size: 2.5rem;

    border: 2px $white solid;
    border-radius: 50%;
    height: $size;
    margin-left: 0.25rem;
    width: $size;
  }
}

