.navbar-dark ul.navbar-nav {
  .menu-item {
    @extend .nav-item;

    a {
      @extend .nav-link;

      padding: 1rem;
    }

    &.current-menu-item {
      background: darken($primary, 5%);
    }
  }

  .user {
    $size: 2.5rem;

    border: 2px $white solid;
    border-radius: 50%;
    height: $size;
    margin-left: 0.25rem;
    width: $size;
  }
}

.navbar-brand {
  svg {
    height: 2rem;
    width: 2rem * $kv-logo-ratio;
  }
}

@include media-breakpoint-down(lg) {
  .navbar-expand-lg > .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
