.no-underline {
  text-decoration: none !important;
}

.title-large {
  font-size: 3.1rem;
}

.text-muted {
  color: var(--text-muted) !important;
}

.text-body {
  color: var(--body-color) !important;
}

a {
  color: var(--primary);
  
  &:hover {
    color: var(--primary-darker);
  }
}
