// Colors
$primary: #0089cd;
$secondary: #9be500;
$text-muted: #adb5bd;

// Typography
$font-weight-black: 900;
$enable-responsive-font-sizes: true;
$font-size-sm: 0.925em;

// Navbar
$navbar-padding-y: 0;
$navbar-dark-color: #fff;
$navbar-brand-padding-y: 0.75rem;

// Cards
$card-border-width: 0;

// List group
$list-group-item-padding-x: 0;
$list-group-border-width: 0;

// Other
$box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
$border-radius: 0.2rem;
$kv-logo-ratio: 638.09 / 194.06;
