// Colors
$primary: #0089CD;
$secondary: #9BE500;

// Navbar
$navbar-padding-y: 0;
$navbar-dark-color: #fff;
$navbar-brand-padding-y: .75rem;

// Cards
$card-border-width: 0;

// Other
$box-shadow: 0 2px 7px rgba(0, 0, 0, .1);
$border-radius: .2rem;
$kv-logo-ratio: 638.09 / 194.06;